List comprehensions provide a concise way to create lists. 
Syntax
The basic syntax is
[ expression(item) for item in list if conditional(item) ] this works for every collection except tuple.

In [3]:
new_list1 = [x*x for x in [1,2,3,4,4] if x>1]
new_list2 = [x*x for x in (1,2,3,4,4) if x>1]
new_list3 = [x*x for x in {1,2,3,4,4} if x>1]
new_list4 = [x*x for x in {1:2,2:3,3:4} if x >2 ]

print(new_list1)
print(new_list2)
print(new_list3)
print(new_list4)
print([x for x in [1,2,3,4,4] if x % 1== 0])

[4, 9, 16, 16]
[4, 9, 16, 16]
[4, 9, 16]
[9]
[1, 2, 3, 4, 4]

In [14]:
new_set_1 = {x*x for x in [1,2,3,4,4] if x>1}
new_set_2 = {x*x for x in (1,2,3,4,4) if x>1}
new_set_3 = {x*x for x in {1,2,3,4,4} if x>1}
new_set_4 = {x*x for x in {1:2,2:3,3:4} if x>1}
print(new_set_1)
print(new_set_2)
print(new_set_3)
print(new_set_4)
new_set_1 = (x*x for x in [1,2] )

{16, 9, 4}
{16, 9, 4}
{16, 9, 4}
{9, 4}
<class 'generator'>

In [4]:
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
# Double each value in the dictionary
double_dict1 = {k*2 for k in dict1.keys()}
print(double_dict1)

{'cc', 'dd', 'aa', 'bb', 'ee'}

String Study :

What is String in Python?
A string is a sequence of characters.

A character is simply a symbol. For example, the English language has 26 characters.
String literals in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

Strings can be output to screen using the print function. For example: print("hello").


Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters. However, Python does not have a character data type, a single character is simply a string with a length of 1. Square brackets can be used to access elements of the string.
 creation of Strings with single quotes in them. For strings which contain Double quoted words in them, use of triple quotes is suggested. Along with this, triple quotes also allow the creation of multiline strings.

In [28]:
a='raMesh'
b="Ramesh"
c= """ramesh raj"""
print(a,b,c)

raMesh Ramesh ramesh raj

In [29]:
a,b,c

('raMesh', 'Ramesh', 'ramesh raj')

In [30]:
a='ramesh'
a[0],a[1],a[-1],a[2:5],a[-4:] # element of string access using

('r', 'a', 'h', 'mes', 'mesh')

In [ ]:
a

Now, we would see some methods to string dunction.
Method	Description
capitalize()	Converts the first character to upper case
casefold()	Converts string into lower case
center()	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
encode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Joins the elements of an iterable to the end of the string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning
	
Note:Â All string methods returns new values. They do not change the original string.

In [45]:
a.capitalize() #Converts the first character to upper case

'Ramesh'

In [ ]:
a.casefold() #Converts string into lower case

In [46]:
a.center(20,'*')

'*******raMesh*******'

In [ ]:
a.count('r') #Returns the number of times a specified value occurs in a string

In [ ]:
a.encode(encoding='utf-8') #

In [ ]:
a

In [ ]:
a.endswith('h') #The endswith() method returns True if the string ends with the specified value, otherwise False.

In [ ]:
Definition and Usage
The join() method takes all items in an iterable and joins them into one string.

A string must be specified as the separator.Syntax
string.join(iterable)

In [31]:
string= ","
list1=('raj','ram')

In [32]:
string.join(list1)

'raj,ram'

Definition and Usage
The split() method splits a string into a list.

You can specify the separator, default separator is any whitespace.

Note: When max is specified, the list will contain the specified number of elements plus one.

In [23]:
str= 'my name is ramesh and your name is '
print(len(str.split()))

8

In [57]:
str.split(' ') # this way you can find no of word in string by converting into list then count len.

['my', 'name', 'is', 'ramesh', 'and', 'your', 'name', 'is', '']

In [20]:
print(str.split(' ',1))
print(str.split(' ',2))
print(str.split(' ',3))

['my', 'name is ramesh and your name is ']
['my', 'name', 'is ramesh and your name is ']
['my', 'name', 'is', 'ramesh and your name is ']

In [24]:
str.find('e') # gives the index for substring
print(str)
print(str.rfind('name') )
print(str)

my name is ramesh and your name is
27
my name is ramesh and your name is

In [27]:
str.rindex('name') #Searches the string for a specified value and returns the last position of where it was found

27

In [68]:
str.rfind('name') #Searches the string for a specified value and returns the last position of where it was found

27

Definition and Usage
The rsplit() method splits a string into a list, starting from the right.

If no "max" is specified, this method will return the same as the split() method

In [30]:
print(str)
str.rsplit('name',2)

my name is ramesh and your name is

['my ', ' is ramesh and your ', ' is ']

In [28]:
str

'my name is ramesh and your name is '