What is a function in Python?
In Python, function is a group of related statements that perform a specific task.
def function_name(parameters):
	statement(s)
One or more valid python statements that make up the function body. Statements must have same indentation level (usually 4 spaces).
An optional return statement to return a value from the function.

Types of Functions
Basically, we can divide functions into the following two types:

Built-in functions - Functions that are built into Python.
User-defined functions - Functions defined by the users themselves.

In [1]:
def display(firstName,Title):
    print(firstName,Title)
    print("full Name  is ", firstName,Title)
    
        
display('raja','ram')

raja ram
full Name  is  raja ram

In [2]:
def add(a,b):
    print("sum is")
    return(a+b)

In [4]:
d=add(2,3)
print(d)

sum is
5

In [8]:
print(d)

5

In [5]:
a=int(input("enter first number"))
b=int(input("enter second number"))

a=add(a,b)
print(a)

enter first number22
enter second number46
sum is
68

Built in function :Lambda,Filter,Map,range

Python Lambda
A lambda function is a small anonymous function.
A lambda function can take any number of arguments, but can only have one expression.
Syntax
lambda arguments : expression

In [7]:

x = lambda a,b : a + 10+b
print(x(5,4))

19

In [8]:
x = lambda a, b, c : a + b + c -2*a 
print(x(5, 6,-9))

-8

Python filter()
The filter() method constructs an iterator from elements of an iterable for which a function returns true.

In simple words, the filter() method filters the given iterable with the help of a function that tests each element in the iterable to be true or not.

The syntax of filter() method is:
filter(function, iterable)

In [1]:
lm=lambda b : b>2
c=filter(lm,[1,23,4,0,40,40])
print(list(c))

[23, 4, 40, 40]

In [1]:
lm=lambda b : b+2
c=map(lm,[1,23,4,0,40,40])
a=list(c)
print(a)

[3, 25, 6, 2, 42, 42]

#### a=lambda b,c,d,e : b+c+d+e+2+6
print(a(3,3,3,3))

In [20]:
print(a)

[23, 4]

In [23]:
for i in a:
    print(i)

23
4

In [31]:
a=list(filter(lambda b : b%2==0,[1,23,4,8] )) # even number

In [32]:
print(a)

[4, 8]

In [34]:
a=list(filter(lambda b : b%2 !=0,[1,23,4] )) #odd number

In [35]:
a

[1, 23]

In [1]:
map()

TypeError: map() must have at least two arguments.

map(function, iterable, ...)
Return an iterator that applies function to every item of iterable, yielding the results. If additional iterable arguments are passed, function must take that many arguments and is applied to the items from all iterables in parallel. With multiple iterables, the iterator stops when the shortest iterable is exhausted. For cases where the function inputs are already arranged into argument tuples,

In [27]:
n = [1,2,3,4]
print(list(map(lambda x:x*2,n))) #  doing 2 time
print(list(map(lambda x:x*x,n))) # doing square 
print(list(map(lambda x:x-2,n))) # doing subtraction

[2, 4, 6, 8]
[1, 4, 9, 16]
[-1, 0, 1, 2]

Definition and Usage
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

Syntax
range(start, stop, step)
Parameter Values
Parameter	Description
start	Optional. An integer number specifying at which position to start. Default is 0
stop	Optional. An integer number specifying at which position to endt.
step	Optional. An integer number specifying the incrementation. Default is 1

In [14]:


r=range(2,51,4)

r

range(2, 51, 4)

In [44]:
for i in r:
    print(i)

2
6
10
14
18
22
26
30
34
38
42
46
50

In [69]:
x = range(3, 6)
for n in x:
    print(n)

3
4
5

Type Conversion:
The process of converting the value of one data type (integer, string, float, etc.) to another data type is called type conversion. Python has two types of type conversion.

Implicit Type Conversion
Explicit Type Conversion

In [38]:
number = 1.2 + 1 # Implicit Type Conversion float and integer

In [39]:
string = 'a'+ 1 #Implicit Type Conversion not possible

TypeError: can only concatenate str (not "int") to str

In [40]:
string = 'a'+ str(1) #Implicit Type Conversion happening here using str
                      #Syntax :
                    #(required_datatype)(expression)

In [38]:
string

'a1'

Definition and Usage
The input() function allows user input.Syntax
input(prompt)
Parameter Values
Parameter	Description
prompt	A String, representing a default message before the input.
print() as output function

In [34]:
input('enter the number')

enter the number2

'2'

In [40]:
a=input('enter the number')

enter the numberWelcome

In [41]:
a

'Welcome'

In [38]:
a=int((input('enter the first  number')))

enter the first  number43

In [37]:
print(a)

23

In [51]:
b=int(input('enter the second  number'))

enter the second  number40

In [52]:
b

40

In [53]:
z=add(a,b)

sum is

In [54]:
z

60

In [68]:
a=[1,2,3]

In [74]:
a.append(int(input('no')))

no50

In [75]:
a.append(int(input('no')))

no60

In [73]:
a

[1, 2, 3, 10, 20]

In [76]:
d= {1:'a',2:'b'}

In [77]:
type(d)

dict

In [79]:
d.update({2:'c'})

In [80]:
d

{1: 'a', 2: 'c'}